version: "3"

services:
  tor:
    container_name: tor
    build:
      context: tor
    image: tor
    ports:
      - 9050:9050
      - 9051:9051

  btc_sig_miner:
    container_name: btc_sig_miner
    build:
      context: bitcoind_signet_miner_plugnplay
    image: bitcoind_signet_miner
    environment:
      - BLOCK_MINING_SEC=120
    volumes:
      - shared_vol_btc:/bitcoind
    depends_on:
      - tor

  electrs:
    container_name: electrs
    build:
      context: electrs
    image: electrs
    volumes:
      - shared_vol_btc:/bitcoind
    depends_on:
      - btc_sig_miner

  ### Mempool
  web:
    container_name: mempool_web
    image: mempool/frontend:latest
    environment:
      FRONTEND_HTTP_PORT: "8080"
      BACKEND_MAINNET_HTTP_HOST: "api"
    restart: on-failure
    stop_grace_period: 1m
    command: "./wait-for db:3306 --timeout=720 -- nginx -g 'daemon off;'"
    ports:
      - 80:8080
  api:
    container_name: mempool_api
    image: mempool/backend:latest
    environment:
      MEMPOOL_NETWORK: "signet"
      MEMPOOL_BACKEND: "electrum"
      ELECTRUM_HOST: "nginx"
      ELECTRUM_PORT: 60602
      ELECTRUM_TLS_ENABLED: "true"
      DATABASE_HOST: "mempool_db"
      DATABASE_DATABASE: "mempool"
      DATABASE_USERNAME: "mempool"
      DATABASE_PASSWORD: "mempool"
      CORE_RPC_HOST: "btc_sig_miner"
      CORE_RPC_PORT: 38332
      CORE_RPC_USERNAME: "bitcoin"
      CORE_RPC_PASSWORD: "bitcoin"
      STATISTICS_ENABLED: "true"
    restart: on-failure
    stop_grace_period: 1m
    command: "./wait-for-it.sh db:3306 --timeout=720 --strict -- ./start.sh"
    volumes:
      - shared_vol_mempool_api:/backend/cache
  db:
    container_name: mempool_db
    environment:
      MYSQL_DATABASE: "mempool"
      MYSQL_USER: "mempool"
      MYSQL_PASSWORD: "mempool"
      MYSQL_ROOT_PASSWORD: "admin"
    image: mariadb:10.5.21
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - shared_vol_mempool_db:/var/lib/mysql  

  nginx:
    container_name: nginx
    build:
      context: nginx
    image: nginx_img
    ports:
      - 60602:60602

  c-lightning:
    container_name: c-lightning
    build:
      context: c-lightning
    image: c-lightning
    volumes:
      - shared_vol_ln:/lightningd
    environment:
      - BTC_HOST=btc_sig_miner
    depends_on:
      - btc_sig_miner
      - tor

  c-lightning-rest:
    container_name: c-lightning-rest
    build:
      context: c-lightning-rest
    image: c-lightning-rest
    volumes:
      - shared_vol_ln:/lightningd
    environment:
      - BTC_HOST=btc_sig_miner
      - CLN_HOST=c-lightning
    command: /c-lightning-REST/copy-macaroon.sh
    depends_on:
      - c-lightning
      - btc_sig_miner
      - tor

  faucet:
    container_name: faucet
    build:
      context: faucet
    image: faucet
    environment:
      - BTC_HOST=btc_sig_miner
    depends_on:
      - btc_sig_miner
      - tor
    ports:
      - 5000:5000

  lnbits:
    container_name: lnbits
    build:
      context: lnbits
    image: lnbits_img
    environment:
      - BTC_HOST=btc_sig_miner
    volumes:
      - shared_vol_ln:/lightningd
    ports:
      - "7000:7000"

  rtl:
    container_name: rtl
    build:
      context: rtl
    image: rtl
    volumes:
      - shared_vol_ln:/lightningd
    environment:
      - BTC_HOST=btc_sig_miner
      - CLN_REST_HOST=c-lightning-rest
    ports:
      - "3000:3000"

volumes:
  shared_vol_btc:
  shared_vol_ln:
  shared_vol_mempool_db:
  shared_vol_mempool_api:

networks:
  btc-testing-tools: