version: "3"

services:
  tor:
    container_name: tor
    build:
      context: tor
    image: tor
    ports:
      - 9050:9050
      - 9051:9051

  btc_sig_miner:
    container_name: btc_sig_miner
    build:
      context: bitcoind_signet_miner_plugnplay
    image: bitcoind_signet_miner
    environment:
      - BLOCK_MINING_SEC=10
      - POISSON=false
    volumes:
      - shared_vol_btc:/bitcoind
    depends_on:
      - tor

  electrs-romanz:
    container_name: electrs-romanz
    build:
      context: electrs-romanz
    image: electrs_romanz
    volumes:
      - shared_vol_btc:/bitcoind
    depends_on:
      - btc_sig_miner

  ### Blockstream electrs (bitcoin)
  electrs-blockstream:
    container_name: electrs-blockstream
    build:
      context: electrs-blockstream
    image: electrs_blockstream
    volumes:
      - shared_vol_electrs_blockstream:/electrum 
    depends_on:
      - btc_sig_miner
    ports:
      - 7070:7070

  # Bitcoin Esplora
  esplora-bitcoin:
    container_name: esplora-bitcoin
    build: 
      context: esplora-bitcoin
    image: esplora_bitcoin
    volumes:
      - shared_vol_esplora_bitcoin:/app
    depends_on:
      - electrs-blockstream
      - nginx
    ports:
      - 8000:8000

  ### Mempool
  ### Images pulled are not for linux/arm/v7
  # web:
  #   container_name: mempool_web
  #   image: mempool/frontend:latest
  #   environment:
  #     FRONTEND_HTTP_PORT: "8080"
  #     BACKEND_MAINNET_HTTP_HOST: "api"
  #   restart: on-failure
  #   stop_grace_period: 1m
  #   command: "./wait-for db:3306 --timeout=720 -- nginx -g 'daemon off;'"
  #   ports:
  #     - 80:8080
  # api:
  #   container_name: mempool_api
  #   image: mempool/backend:latest
  #   environment:
  #     MEMPOOL_NETWORK: "signet"
  #     MEMPOOL_BACKEND: "electrum"
  #     ELECTRUM_HOST: "electrs"
  #     ELECTRUM_PORT: 60601
  #     ELECTRUM_TLS_ENABLED: "true"
  #     DATABASE_HOST: "mempool_db"
  #     DATABASE_DATABASE: "mempool"
  #     DATABASE_USERNAME: "mempool"
  #     DATABASE_PASSWORD: "mempool"
  #     CORE_RPC_HOST: "btc_sig_miner"
  #     CORE_RPC_PORT: 38332
  #     CORE_RPC_USERNAME: "bitcoin"
  #     CORE_RPC_PASSWORD: "bitcoin"
  #     STATISTICS_ENABLED: "true"
  #   restart: on-failure
  #   stop_grace_period: 1m
  #   command: "./wait-for-it.sh db:3306 --timeout=720 --strict -- ./start.sh"
  #   volumes:
  #     - shared_vol_mempool_api:/backend/cache
  # db:
  #   container_name: mempool_db
  #   environment:
  #     MYSQL_DATABASE: "mempool"
  #     MYSQL_USER: "mempool"
  #     MYSQL_PASSWORD: "mempool"
  #     MYSQL_ROOT_PASSWORD: "admin"
  #   image: mariadb:10.5.21
  #   restart: on-failure
  #   stop_grace_period: 1m
  #   volumes:
  #     - shared_vol_mempool_db:/var/lib/mysql  

  nginx:
    container_name: nginx
    build:
      context: nginx
    image: nginx_img
    ports:
      - 60602:60602
      - 8080:8080

  cln:
    container_name: cln
    build:
      context: c-lightning
    image: c-lightning
    volumes:
      - shared_vol_ln:/lightningd
    environment:
      - BTC_HOST=btc_sig_miner
    depends_on:
      - btc_sig_miner
      - tor

  faucet:
    container_name: faucet
    build:
      context: faucet
    image: faucet
    environment:
      - BTC_HOST=btc_sig_miner
    depends_on:
      - btc_sig_miner
      - tor
    ports:
      - 5000:5000

volumes:
  shared_vol_btc:
  shared_vol_ln:
  shared_vol_mempool_db:
  shared_vol_mempool_api:
  shared_vol_electrs_blockstream:
  shared_vol_esplora_bitcoin:

networks:
  btc-testing-tools:
    driver: bridge